@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Figtree", sans-serif;
     transition: all 0.3s linear;
}

body {
     background: #0000ff30;
}

.w-100 {
     width: 100%;
}

.fw-600 {
     font-weight: 600;
}

.fw-700 {
     font-weight: 700;
}

.fs-1 {
     font-size: 1.2rem;
}

.fs-2 {
     font-size: 1.5rem;
}

.text-center {
     text-align: center;
}

.mb-1 {
     margin-bottom: 1rem;
}

button {
     border: 0;
     outline: unset;
     cursor: pointer;
     transition: all 0.3s linear;
     border-radius: 4px;
     font-size: 1.2rem;
     padding: 10px 20px;
     background: #212121;
     color: #ffffff;
     box-shadow:
          rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

button:hover {
     background: #0000ff30;
     color: #212121;
}

main {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

.main-title {
     font-size: 2rem;
     text-align: center;
     margin-bottom: 2rem;
}

main > section {
     padding: 2rem;
     border-radius: 5px;
     width: 750px;
     background: #ffffff;
     box-shadow:
          rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

main > section.none {
     display: none;
}

.user-feedback .item-box {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 30px;
     margin-bottom: 2rem;
}

.user-feedback .item-box .item {
     font-size: 1.2rem;
     padding: 10px;
     border-radius: 5px;
     text-align: center;
     cursor: pointer;
     transition: all 0.3s linear;
}

.user-feedback .item-box .item.active,
.user-feedback .item-box .item:hover {
     box-shadow:
          rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     background: #00ff0030;
}

.user-feedback .item-box img {
     width: 40px;
     margin: 0 auto 10px;
     display: block;
}

.user-feedback .button {
     display: flex;
     justify-content: center;
}

.feedback-response {
     width: 650px;
}

.feedback-response img {
     display: block;
     margin: 0 auto 20px;
     width: 200px;
}

.toaster {
     position: absolute;
     top: 2rem;
     left: 50%;
     transform: translate(-50%, 0);
     padding: 1rem;
     box-shadow:
          rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(102, 177, 87, 0.3) 0px 1px 3px -1px;
     border-radius: 5px;
     font-size: 1.1rem;
     transition: all 0.4s linear;
     opacity: 1;
     background: #ffffff;
}

.toaster.hide {
     opacity: 0;
}
