#scene-page {
     padding: 3rem;
}

.scene-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 2rem;
}

.scene-card {
     position: relative;
     border-radius: 5px;
     overflow: hidden;
     cursor: pointer;
}

.scene-card img {
     margin-bottom: -4px;
     aspect-ratio: 1/0.6;
     object-fit: cover;
}

.scene-card .content {
     display: flex;
     align-items: flex-end;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     padding: 1rem;
     color: #ffffff;
     font-size: 2rem;
     background: linear-gradient(180deg, #00000021 28%, #000000ab 100%);
}

@media screen and (max-width: 1200px) {
     .scene-grid {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media screen and (max-width: 768px) {
     #scene-page {
          padding: 2rem;
     }

     .scene-grid {
          grid-template-columns: repeat(1, 1fr);
     }
}

@media screen and (max-width: 576px) {
     #scene-page {
          padding: 1rem;
     }
}