@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Figtree", sans-serif;
     transition: all 0.3s linear;
}

.w-100 {
     width: 100%;
}

.h-100 {
     height: 100%;
}

.fw-600 {
     font-weight: 600;
}

.fw-700 {
     font-weight: 700;
}

.mb-1 {
     margin-bottom: 0.5rem;
}

input,
select {
     border: 1px solid #21212160;
     padding: 10px 20px;
     border-radius: 4px;
     font-size: 1.1rem;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
     border: 0;
     outline: none;
}

body {
     background: #212121;
}

main {
     padding: 2rem 2rem;
     color: #ffffff;
}

.main-title {
     font-size: 3rem;
     text-align: center;
     margin-bottom: 2rem;
}

.search{
     max-width: 700px;
     margin: 0 auto 3rem;
}

.movie-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 2rem;
     margin-bottom: 2rem;
}

.movie-item {
     position: relative;
     border-radius: 5px;
     overflow: hidden;
     cursor: pointer;
}

.movie-item .image img {
     aspect-ratio: 1/1.6;
}

.movie-item .details {
     position: absolute;
     top: 0;
     left: 0;
     background: linear-gradient(180deg, rgba(255,255,255,0) 25%, rgba(0,0,0,1) 90%);
     display: flex;
     align-items: end;
     padding: 1.5rem;
}

.movie-item .name {
     font-size: 1.2rem;
     margin-bottom: 10px;
}

.toaster {
     position: fixed;
     top: 2rem;
     right: 2rem;
     max-width: 300px;
     padding: 0.5rem 1rem;
     box-shadow:
          rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(102, 177, 87, 0.3) 0px 1px 3px -1px;
     border-radius: 5px;
     font-size: 1.1rem;
     transition: all 0.4s linear;
     opacity: 1;
     color: #212121;
     background: #ffffff;
}

.toaster.hide {
     opacity: 0;
}

.loader-box {
     display: none;
}

.loader-box .head {
     text-align: center;
     margin-bottom: 1rem;
     font-size: 1.3rem;
}

.loader {
     display: flex;
     align-items: center;
     justify-content: center;
}

.loader .bar {
     display: inline-block;
     width: 3px;
     height: 20px;
     background-color: #ffffff;
     border-radius: 10px;
     animation: scale-up4 1s linear infinite;
}

.loader .bar:nth-child(2) {
     height: 35px;
     margin: 0 5px;
     animation-delay: 0.25s;
}

.loader .bar:nth-child(3) {
     animation-delay: 0.5s;
}

@keyframes scale-up4 {
     20% {
          transform: scaleY(2);
     }

     40% {
          transform: scaleY(1);
     }
}

.movie-dialog-container {
     display: none;
     justify-content: center;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     backdrop-filter: blur(5px);
     background: #21212121;
     padding: 2rem;
}

.movie-dialog-container .dialog {
     max-width: 750px;
     width: 100%;
     background: #212121;
     color: #cccccc;
     padding: 2rem;
     border-radius: 5px;
     max-height: 70vh;
     overflow-y: auto;
     position: relative;
     box-shadow:
          rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(102, 177, 87, 0.3) 0px 1px 3px -1px;
}

.movie-dialog-container .dialog::-webkit-scrollbar {
     width: 4px;
     background: transparent;
}

.movie-dialog-container .dialog::-webkit-scrollbar-thumb {
     background: #ffffff;
     border-radius: 5px;
}

.movie-dialog-container .dialog::-webkit-scrollbar-button {
     display: none;
}

.movie-dialog-container .dialog .close {
     position: absolute;
     top: 0.8rem;
     right: 1rem;
     cursor: pointer;
}

.movie-dialog-container .inner-grid {
     display: grid;
     grid-template-columns: 1fr 1.5fr;
     gap: 2rem;
}

.movie-dialog-container .name {
     font-size: 1.2rem;
     margin-bottom: 5px;
}